[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-migrate = "*"
sqlalchemy = "*"
werkzeug = "*"
apispec = "*"
requests = "*"
flask-jwt-extended = "*"
passlib = "*"
bcrypt = "*"
marshmallow = "*"
pytest = "*"
alembic = "*"
python-dotenv = "*"
apispec-webframeworks = "*"
openapi-spec-validator = "*"
flask-swagger-ui = "*"
webargs = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7.10"
